<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Controllers</title>
    <script src="angular.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
    <script>
        angular.module("exampleApp", [])
            .controller("simpleCtrl", function ($scope, $rootScope) {

                $scope.$on("zipCodeUpdated", function (event, args) {
                    $scope[args.type] = args.zipCode;
                });

                //两个作用域都分别存在。
                $scope.setAddress = function (type, zip) {
                    $rootScope.$broadcast("zipCodeUpdated", {
                        type: type, zipCode: zip
                    });
                    console.log("Type: " + type + " " + zip);
                }

                //只存在于第二个作用域中，此时的$cope.zip特指第二个域。
                //【理解】：每一次设置的时候，会注册一个由顶级（根）作用域向
                //下的每一个子作用域传递的函数《broadcast("zipCodeUpdeted")》，
                //该函数携带了需要共享的数据的资源。然后被on监听到，从而引
                //起资源被分配到每一个作用域中新创建或已存在的变量中，
                //使得该作用域下同步了共享的资源。达到数据分享的目的。
                $scope.copyAddress = function () {
                    $scope.zip = $scope.shippingZip;
                }
            });
    </script>

</head>
<body>
    <div class="well" ng-controller="simpleCtrl">
        <h4>Billing Zip Code</h4>
        <div class="form-group">
            <input class="form-control" ng-model="zip">
        </div>
        <button class="btn btn-primary" ng-click="setAddress('billingZip', zip)">
            Save Billing
        </button>
        <button class="btn btn-primary" ng-click="copyAddress()">
            Use Billing
        </button>
    </div>
    <div class="well" ng-controller="simpleCtrl">
        <h4>Shipping Zip Code</h4>
        <div class="form-group">
            <input class="form-control" ng-model="zip">
        </div>
        <button class="btn btn-primary" ng-click="copyAddress()">
            Use Billing
        </button>
        <button class="btn btn-primary" ng-click="setAddress('shippingZip', zip)">
            Save Shipping
        </button>
    </div>
</body>
</html>
